@import "lib/normalize.import.less";
@import "variables.import.less";

body {
  font-family: @font-family-base;
  line-height: 1.6;
}

h1 {
  color:@color-text-light;
  margin:0;
  font-size: 20px;
  font-weight: 400;
}

.container {
  margin: 1em auto;
  max-width: 1000px;
}

.text-center {
  text-align: center;
}

.nav h1 {
//  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.26);
  color:rgba(255, 255, 255, 0.8);
  background: #00bcd4;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  padding:8px 20px;
  text-transform: capitalize;
}

.btn {
  background-color: #00bcd4;
  color:rgba(255, 255, 255, 0.8);
  box-shadow:0 1px 2px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  display: inline-block;
}

form {
  margin:20px 0;
}

.input-group {
  max-width:500px;
  margin: 20px 0;
}

.input-group label{
  display: block;
  padding:0 6px;
}

.form-control {
  display:block;
  min-width: 25em;
  max-width: 99%;
  font-size: 16px;
  padding: 6px 4px;
  margin:2px 2px;
}

.jBox-Notice .jBox-container {
  border-radius: 0;
}

.jBox-Notice-color .jBox-container {
  text-shadow: none;
}
