@color-main: #00bcd4;
@color-light: #e0f7fa;
@color-dark: #00838f;
@color-accent:#ffc107;
@color-error: rgba(255,7,7,0.6);

@color-text: rgba(0,0,0,0.87);
@color-text-light: #ffffff;

@color-border:rgb(203, 203, 203);

@font-family-base: Trebuchet MS, Tahoma, sans-serif;
