@import "../variables.import.less";

body.board {
  background: url(/img/brillant/brillant.png);
}

.bucket {
  text-align: right;
  margin:24px auto;
  width: 770px;
  padding:0 4px 20px;
  border-top: solid 3px @color-accent;

  .bucket-header {
    text-align: right;

    h1 {
      display:inline-block;
      width:142px;
      padding: 8px 0px;
      margin: 0 4px 4px;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 1px;
      color: @color-text-light;
      background: @color-accent;
      text-align: center;
      cursor: ns-resize;
    }
  }

  ul {
    margin:0;
    padding:0;
  }
  li {
    list-style: none;
  }

  *::selection {
    background: transparent;
  }

  &.dragging {
    background: #eeeeee;
  }

  &.drop-denied {
    background: @color-error;

  }

  &.trash {
    border-color:#eee;

    .bucket-header {
      background: #eee;
      margin-left: -4px;
      margin-right: -4px;
      margin-bottom:4px;
      h1{
        background: #eee;
        cursor: default;
      }
    }

    .card {
      opacity:0.5;
      &:hover {
        opacity: 0.8;
      }
    }
    .slot-empty {
      &:after {
        content: '×';
      }
      &:hover:after {
        color: @color-text-light;
      }
    }
  }
}

.slot {
  background: rgb(250, 250, 250);
  vertical-align: top;
  display: inline-block;
  width: 142px;
  height:142px;
  margin:4px;

  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.slot-empty {
  text-align: center;

  &:before {
    content:'';
    vertical-align: middle;
    display: inline-block;
    width:0;
    height:100%;
  }
  &:after{
    content:'+';
    vertical-align: middle;
    color: rgb(245, 245, 245);
    font-size: 80px;
    display: inline-block;
    margin:0 auto;

    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s;
  }

  &:hover {
    background: rgb(245, 245, 245);

    &:after{
      color: @color-main;
    }
  }
  &.dragover {
    background: @color-light;
  }
}

.card {
  height:100%;
  background: white;
  box-shadow:0 1px 2px 0px rgba(0,0,0,0.2);
  box-sizing:border-box;

  header{
    display: block;
    padding: 6px;
    background: @color-main;
    cursor: move;
  }
  h1 {
    color: @color-text-light;
    letter-spacing: 1px;
    text-align: left;
    font-size:18px;
    padding: 0px 4px;
  }
  p{
    margin:0;
    padding: 6px;
    text-align:left;
    color:@color-text;
  }

  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s ;

  &:active{
    opacity:1;
    box-shadow:0 5px 5px 0 rgba(0,0,0,0.2);
  }
}

.dragover .card {
  box-shadow:none;
  opacity:0.4;

  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.dragover .card.dragging {
  box-shadow:0 5px 5px 0 rgba(0,0,0,0.2);
  opacity:1;
  -webkit-transform: none;
  transform: none;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  /* Retina-specific stuff here */
  body.board {
    background: url(/img/brillant/brillant_@2X.png);
  }
}
